<h1 class="section-heading title">Short Gameplay Guide</h1>
<div class="gameplay-sections">
    <div class="gameplay-section" id="lane">
      <h2 class="gameplay-heading title">Lanephase</h2>

      <p>
        Most common botlaners will have an edge over you early due to either having 
        superior range or a stronger early game kit. Try only to trade with your empowered
        auto attack up or throw out the occasional q when you see a clear path.
      </p>
    </div>
    <div class="gameplay-section" id="teamfights">
      <h2 class="gameplay-heading title">Teamfights</h2>

      <p>
        As your teams adc your job is keeping an eye on your own position and kiting enemy divers.
        Watch your flanks and don't hesitate to use your ultimate to self-peel. You need to
        approach teamfights fundamentally different when playing ad, as your abilities
        will deal next to no damage and only surve a utilitarian purpose.
      </p>
    </div>
</div>
