<div class="runes-display" id="display-klepto">
    <div class="runes-left">
        <img class="runepage-pic" src="img/runepages/klepto.png" alt="">
    </div>
    <div class="runes-right">
      <h1 class="runes-heading title">Kleptomancy</h1>
      <p class="runes-desc">
        Kleptomancy is your go-to rune against all tanks and generally most melees with a few exceptions, namely Darius and Irelia.
        The way you use this in the early laningphase is by autoattacking the enemy laner and then activation your Lightning Rush while the AA is mid-flight.
        This will cause said autoattack to proc kleptomancy without any risk to you. Don't neglect farming over abusing it, but try
        to get as many items and as much gold as possible early. The elixirs are especially powerful early on.


      </p>
    </div>
</div>
<div class="runes-display" id="display-phaserush">
    <div class="runes-left">
        <img class="runepage-pic" src="img/runepages/phaserush.png" alt="">
    </div>
    <div class="runes-right">
      <h1 class="runes-heading title">Phase Rush</h1>
      <p class="runes-desc">
        Phase Rush grants you increased movement speed and slow resistence after hitting three seperate attacks or spells. You should use this rune no matter the lane-matchup
        if the enemy composition has a lot of and / or particularly strong slows that will harm your teamfight-potential, e.g. Thresh or Cassiopeia.
        It is a good default option in general and will save your life many times over while getting ganked or trying to get out of a teamfight after you flashed in.

      </p>
    </div>
</div>
<div class="runes-display" id="display-electrocute">
    <div class="runes-left">
        <img class="runepage-pic" src="img/runepages/electrocute.png" alt="">
    </div>
    <div class="runes-right">
      <h1 class="runes-heading title">Electrocute</h1>
      <p class="runes-desc">
        If you are looking for this little bit of extra burst you're lacking, Electrocute is there for you. Although it offers
        none of the utility of Phase Rush or the gold-advantage of Kleptomancy - if you want to make sure to kill someone in one combo,
        this is your rune of choice.
      </p>
    </div>
</div>
<div class="runes-display" id="display-pta">
    <div class="runes-left">
        <img class="runepage-pic" src="img/runepages/klepto.png" alt="">
    </div>
    <div class="runes-right">
      <h1 class="runes-heading title">Press the attack</h1>
      <p class="runes-desc">
        When playing AD and the trades will be extended, PTA can give you the edge. If you get three autoattacks off chances are high one of them
        was w-empowered which means your w activation will also get increased damage. Later on in the game while splitpushing the increased
        damage will be helpful to deal with more durable opponents by boosting either your crits or your %-health-shred.
      </p>
    </div>
</div>
<div class="runes-display" id="display-conqueror">
    <div class="runes-left">
        <img class="runepage-pic" src="img/runepages/klepto.png" alt="">
    </div>
    <div class="runes-right">
      <h1 class="runes-heading title">Conqueror</h1>
      <p class="runes-desc">
        This keystone now gives ad-per-hit again, like the old fervor of battle and true damage at max stacks. If you are up against a tank and will be splitpushing this rune is
        basically a must-have as it will make your life so much easier.
      </p>
    </div>
</div>
<div class="runes-display" id="display-fleet">
    <div class="runes-left">
        <img class="runepage-pic" src="img/runepages/klepto.png" alt="">
    </div>
    <div class="runes-right">
      <h1 class="runes-heading title">Fleet Footwork</h1>
      <p class="runes-desc">
        Fleet works well together with an Energized-Crit-Build which means you should mostly take this when playing ADC Kennen Botlane into hard lanes which
        require you to have more sustain. The movement speed in combination with the ehancements from RFC/Stormrazor makes this very worthwhile unless the other two
        Keystones offer sth unqiue that fits your gameplan better.
      </p>
    </div>
</div>
