<h2 class="section-heading title">Tips & Tricks</h2>
<ul class="trick-list">
  <li>Your R has a casting animation that can be canceled by flash. So if you want to engage with Flash, use your R first and flash a splitsecond later</li>
  <li>Electrical Surge's hit radius is slightly larger than it's activation range. You can use this to harass people in lane by applying stacks to minions and W'ing them despite them being out of range.</li>
  <li>To make lasthitting under the tower easier, you can prepare ranged creeps by hitting them with E first. Unless you max it, a towershot will not suffice to kill them.</li>
  <li>Unlike other similar spells, you can't flash in Kennen's Q</li>
  <li>When playing AP, make sure to hit people with your E, especially when flashing into a teamfight. It has high base damage and a high AP ratio</li>
  <li>All your spells except Q do not care about Yasuo's Windwall</li>
  <li>Protobelt has more uses than simply closing the gap. When hitting multiple rockets it deals a large amount of damage. It can also serve as an escape to dodge crucial skillshots</li>
  <li>Your E gives resistances <b>while it is active only</b>. Use this to negate a lot of damage while trading or taking unavoidable damage</li>
  <li>If you get caught out in a sidelane in the midgame, save your flash. Unless it means losing a big objective such as Infernal Dragon or Baron Nashor, your Flash is worth more than your life</li>
  <li>Q'ing a stunned target is way easier than a moving one</li>
</ul>

