
<h1 class="section-heading title">Builds</h1>
<div class="center-builds">
  <div class="builds">
    <div class="build" id="standard">
        <h2 class="build-heading title">Standard</h2>
          <div class="build-pictures">
              <img src="img/items/sorcs.png" alt="">
              <img src="img/items/protobelt.png" alt="">
              <img src="img/items/morellos.png" alt="">
              <img src="img/items/rabadons.png" alt="">
              <img src="img/items/voidstaff.png" alt="">
              <img src="img/items/zhonyas.png" alt="">
          </div>
        <p class="add-info">
          Your standard AP build. Always go for Protobelt first and adapt from there. In case neither
          the magic penetration nor the healing reduction are of any use, replace Morellomonicon with
          one of the <span class="important">situational items</span>.
        </p>
    </div>
    <div class="build" id="cdr">
        <h2 class="build-heading title">Cdr / Utility</h2>
        <div class="build-pictures">
            <img src="img/items/ionians.png" alt="">
            <img src="img/items/protobelt.png" alt="">
            <img src="img/items/zhonyas.png" alt="">
            <img src="img/items/rabadons.png" alt="">
            <img src="img/items/voidstaff.png" alt="">
            <img src="img/items/banshees.png" alt="">
        </div>
        <p class="add-info">
          This build focuses less on damage and more on utility and availability early by rushing 45% cdr.
          If you already have multiple carries on your team or you yourself fall behind early, this is a good way
          to stay relevant with frequent ultimates and flashes.
        </p>
    </div> 
  </div>
  <div class="build" id="sit-items">
    <h2 class="build-heading title">Situational Items</h2>
    <div class="build-sections">
      <div class="build-section">
        <div class="build-pictures">
          <img src="../../img/items/spellbinder.png">   
        </div>
        <p class="add-info">
          If you start snowballing early, Spellbinder provides you with a great deal
          of power for a short time at very little relative cost. You need to make sure
          to use this window however, otherwise Rabadons is a safer and stronger option.
        </p>
      </div>
      <div class="build-section">
        <div class="build-pictures">
          <img src="../../img/items/banshees.png">    
        </div>  
        <p class="add-info">
          If you find yourself the target of enemy engage or need to cancel out
          heavy disengage such as Janna ultimate or Lee ultimate consider getting
          this item earlier. Also if the enemy team has multiple magic damage
          threats this is a good purchase.
        </p>
      </div>
      <div class="build-section">
        <div class="build-pictures">
          <img src="../../img/items/zhonyas.png">    
        </div>  
        <p class="add-info">
          Contrary to popular belief, Zhonyas is a very situational item that you should only
          get if very specific conditions are met. This means that either Karthus, Kayn or Fizz are
          on the enemy team or you find yourself unable to survive long enough to get your damage off vs
          really burst-heavy teams.
        </p>
      </div>
    </div>
  </div>
</div>
