
<h1 class="section-heading title">Builds</h1>
<div class="center-builds">
  <div class="builds">
      <div class="build" id="crit">
        <h2 class="build-heading title">Crit</h2>
        <div class="build-pictures">
            <img src="img/items/berserkers.png" alt="">
            <img src="img/items/rfc.png" alt="">
            <img src="img/items/botrk.png" alt="">
            <img src="img/items/infinity_edge.png" alt="">
            <img src="img/items/pd.png" alt="">
            <img src="img/items/ga.png" alt="">
         </div>
      <p class="add-info">
        The classic crit build. Get botrk first for an early powerspike and transition into a 
         crit-focussed ADC in the midgame with IE and RFC.
       </p>
    </div>     
  </div>
  <div class="build" id="sit-items">
    <h2 class="build-heading title">Situational Items</h2>
    <div class="build-sections">
      <div class="build-section">
        <div class="build-pictures">
          <img src="../../img/items/bloodthirster.png">   
        </div>
        <p class="add-info">
         Buy this if you need more lifesteal. This is usually the case vs multiple tanks with long, drawn out teamfights.
        </p>
      </div>
      <div class="build-section">
        <div class="build-pictures">
          <img src="../../img/items/mallet.png">    
        </div>  
        <p class="add-info">
          Mallet provides you with a permanent slow that is most useful against
          opponents that have no direct way of getting on top of you, like most Juggernauts
          (e.g. Darius, Garen or Illaoi)
        </p>
      </div>     
    </div>
  </div>
</div>
