
<h1 class="section-heading title">Builds</h1>
<div class="center-builds">
  <div class="build" id="standard">
      <h2 class="build-heading title">Standard</h2>
        <div class="build-pictures">
            <img src="img/items/sorcs.png" alt="">
            <img src="img/items/protobelt.png" alt="">
            <img src="img/items/morellos.png" alt="">
            <img src="img/items/rabadons.png" alt="">
            <img src="img/items/voidstaff.png" alt="">
            <img src="img/items/zhonyas.png" alt="">
        </div>
      <p class="add-info">
        Your standard AP build. Always go for Protobelt frist and adapt from there. In case neither
        the magic penetration nor the healing reduction are of any use, replace Morellomonicon with
        one of the <red>situational items</red>.
      </p>
  </div>
  <div class="build" id="cdr">
      <h2 class="build-heading title">Cdr / Utility</h2>
      <div class="build-pictures">
          <img src="img/items/ionians.png" alt="">
          <img src="img/items/protobelt.png" alt="">
          <img src="img/items/zhonyas.png" alt="">
          <img src="img/items/rabadons.png" alt="">
          <img src="img/items/voidstaff.png" alt="">
          <img src="img/items/banshees.png" alt="">
      </div>
      <p class="add-info">
        This build focusses less on damage and more on utility and availability early by rushing 45% cdr.
        If you already have multiple carries on your team or you yourself fall behind early, this is a good way
        to stay relevant with frequent ultimates and flashes.
      </p>
  </div>  
</div>
