
<h1 class="section-heading title">Builds</h1>
<div class="center-builds">
  <div class="build" id="standard">
      <h2 class="build-heading title">Standard</h2>
        <div class="build-pictures">
            <img src="img/items/sorcs.png" alt="">
            <img src="img/items/protobelt.png" alt="">
            <img src="img/items/morellos.png" alt="">
            <img src="img/items/rabadons.png" alt="">
            <img src="img/items/voidstaff.png" alt="">
            <img src="img/items/zhonyas.png" alt="">
        </div>
      <p class="add-info">
        This is the standard build which you should default to.
      </p>
  </div>
  <div class="build" id="cdr">
      <h2 class="build-heading title">Cdr / Utility</h2>
      <div class="build-pictures">
          <img src="img/items/ionians.png" alt="">
          <img src="img/items/protobelt.png" alt="">
          <img src="img/items/zhonyas.png" alt="">
          <img src="img/items/rabadons.png" alt="">
          <img src="img/items/voidstaff.png" alt="">
          <img src="img/items/banshees.png" alt="">
      </div>
      <p class="add-info">
        This build focusses less on damage and more on utility and availability early by rushing 45% cdr.
        If you already have multiple carries on your team or you yourself fall behind early, this is a good way
        to stay relevant with frequent ultimates and flashes.
      </p>
  </div>
  <div class="build" id="spellbinder">
      <h2 class="build-heading title">Full AP</h2>
      <div class="build-pictures">
          <img src="img/items/sorcs.png" alt="">
          <img src="img/items/spellbinder.png" alt="">
          <img src="img/items/rabadons.png" alt="">
          <img src="img/items/voidstaff.png" alt="">
          <img src="img/items/morellos.png" alt="">
          <img src="img/items/zhonyas.png" alt="">
      </div>
      <p class="add-info">
        I call this build the "Norman Special" and would not recommend it, but it technically is the highest damage
        build available. Experiment and suck at your own risk.
      </p>
  </div>
</div>
