<h1 class="section-heading title">Builds</h1>
<div class="center-builds">
  <div class="builds">
     <div class="build" id="onhit">
        <h2 class="build-heading title">On-hit</h2>
        <div class="build-pictures">
            <img src="img/items/berserkers.png" alt="">
            <img src="img/items/botrk.png" alt="">
            <img src="img/items/rageblade.png" alt="">
            <img src="img/items/wits_end.png" alt="">
            <img src="img/items/ga.png" alt="">
            <img src="img/items/mallet.png" alt="">
        </div>
        <p class="add-info">
          This build focuses on splitpushing and dueling. Frozen mallet provides you a permanent
          slow to keep melee champions at range while whittling down their health with botrk and rageblade. 
        </p>
    </div> 
  </div>
  <div class="build" id="sit-items">
    <h2 class="build-heading title">Situational Items</h2>
    <div class="build-sections">
      <div class="build-section">
        <div class="build-pictures">
          <img src="../../img/items/runans.png">   
        </div>
        <p class="add-info">
          Hurricane provides you with additional pushing-power and potentially allows you to slow multiple
          opponents in combination with Frozen Mallet. Only get this if you really need the waveclear, otherwise it is no worth it.
        </p>
      </div>
      <div class="build-section">
        <div class="build-pictures">
          <img src="../../img/items/mercs.png">
          <img src="../../img/items/tabi.png">    
        </div>  
        <p class="add-info">
          Should the need arise you can exchange your boots to a defensive option.
          If the enemy team contains multiple physical damage threats, especially those relying
          on basic attacks, getting Ninja Tabi is essential. Simply facing one of these in lane can justify them
          (e.g. Tryn, Jax or Riven).<br>
          Same goes for Mercury Treads - opponents relying on their cc to land their spells or simply
          multiple magic damage threats usually warrant this choice over Berserkers Greaves.
        </p>
      </div>     
    </div>
  </div>
</div>
