
<h1 class="section-heading title">Builds</h1>
<div class="center-builds">
  <div class="build" id="crit">
      <h2 class="build-heading title">Crit</h2>
        <div class="build-pictures">
            <img src="img/items/berserkers.png" alt="">
            <img src="img/items/rfc.png" alt="">
            <img src="img/items/botrk.png" alt="">
            <img src="img/items/infinity_edge.png" alt="">
            <img src="img/items/pd.png" alt="">
            <img src="img/items/ga.png" alt="">
        </div>
      <p class="add-info">
        The classic crit build. Get botrk first for an early powerspike and transition into a 
        crit-focussed ADC in the midgame with IE and RFC.
      </p>
  </div>  
</div>
