<h1 class="section-heading title">Short Gameplay Guide</h1>
<div class="gameplay-sections">
    <div class="gameplay-section" id="lane">
      <h2 class="gameplay-heading title">Lanephase</h2>

      <p>
        You should look to constantly harass your lane-opponent with autoattacks and spells
        should the opportunity arise, zoning them from farming whenever you can. Always keep your distance as you likely won't win any drawn out trade
        with melee opponents. If you've whittled down your opponent enough you may look for all-ins, especially post 6.
        Attacking your opponent will cause you to push most of the times, allowing you to take turret platings, but also
        making you vulnerable to ganks. Thus, always keep the river pinked and bushes warded.
      </p>
    </div>
    <div class="gameplay-section" id="teamfights">
      <h2 class="gameplay-heading title">Teamfights</h2>

      <p>
        Your primary objective in the mid and lategame is to splitpush, not to teamfight.
        AD-Onhit Kennens' strength lies in his 1v1 potential and tower-pushing capabilities,
        not full blown 5v5 teamfights. To achieve this goal you must set up proper vision
        in the area you intend to pressure so you don't get caught out overextended.
        Should you be forced to group with your team however it is best to peel for your actual carries
        and disrupting the frontline.
      </p>
    </div>
</div>
