<h1 class="section-heading title">Short Gameplay Guide</h1>
<div class="gameplay-sections">
    <div class="gameplay-section" id="lane">
      <h2 class="gameplay-heading title">Lanephase</h2>

      <p>
        Your basic attacks are your strongest tools early on in the lane,
        so make sure to poke opponents as much as you can while they have no means
        of fighting back. Doing this will most likely cause you to push them under
        their tower which has both advanatges and disadvantages. If you have set up proper
        vision this is the easiest time to get in free harass, but you expose yourself to ganks doing so.
        After your first back you should primarily whittle the enemy down with repeated usage of 
        w-empowered basic attack + w activation. Should they try to retaliate stun them with
        either Q or E and disengage while sticking them into a pincushion full of tiny shurikens.

      </p>
    </div>
    <div class="gameplay-section" id="teamfights">
      <h2 class="gameplay-heading title">Teamfights</h2>

      <p>
        Your primary objective in teamfights is to engage from a flanking position or to counterenagage when the enenmy
        team is going in. You can act both as a diver into the enemy backline (especially true with flash) or peel for your
        own carries with the cc you provide. The later the game goes and the more ap you amass the more devastating your are to
        squishy enemy carries. 
      </p>
    </div>
</div>
