<h1 class="section-heading title">Short Gameplay Guide</h1>
<div class="gameplay-sections">
    <div class="gameplay-section" id="lane">
      <h2 class="gameplay-heading title">Lanephase</h2>

      <p>
        Your goal in the laningphase depends on the matchup you face. Generally you want to poke / wittle down melee opponents
        while staying safe from ranged ones. Your autoattacks mean much more early on in the lane than later down
        the line, so you should use them as much as possible. Your w-empowered autoattack is especially good at zoning enemies
        off minions or gain a very favorable trade.
      </p>
    </div>
    <div class="gameplay-section" id="teamfights">
      <h2 class="gameplay-heading title">Teamfights</h2>

      <p>
        Your primary objective in teamfights is to engage from a flanking position or to counterenagage when the enenmy
        team is going in. You can act both as a diver into the enemy backline (especially true with flash) or peel for your
        own carries with the cc you provide. The later the game goes and the more ap you amass the more devastating your are to
        squishy enemy carries. A good flank engage post 25 minutes can easily solowin you a game or secure your team an
        objective, such as Baron Nashor or an elemental Dragon.
      </p>
    </div>
</div>
