<h1 class="section-heading title">Short Gameplay Guide</h1>
<div class="gameplay-sections">
    <div class="gameplay-section" id="lane">
      <h2 class="gameplay-heading title">Lanephase</h2>

      <p>
        As AP-Caster botlane your trading windows pre-ultimate are very short and mostly rely on you
        landing a q. Early in the lane before your first back your basic attacks still deal some damage
        and you should take every opportunity you get, but it mostly will come down to harrassing with q.
        While playing mostly defensive pre-6, after you unlock your ultimate and backed at least once
        the lane dynamic turns on its head where you can constantly play aggressive and threaten an all-in
        in which case you should be way stronger than any marksman safe for Lucian.
      </p>
    </div>
    <div class="gameplay-section" id="teamfights">
      <h2 class="gameplay-heading title">Teamfights</h2>

      <p>
        Your primary objective in teamfights is to engage from a flanking position or to counterenagage when the enenmy
        team is going in. You can act both as a diver into the enemy backline (especially true with flash) or peel for your
        own carries with the cc you provide. The later the game goes and the more ap you amass the more devastating your are to
        squishy enemy carries. 
      </p>
    </div>
</div>
