<h1 class="section-heading title">Short Gameplay Guide</h1>
<div class="gameplay-sections">
    <div class="gameplay-section" id="lane">
      <h2 class="gameplay-heading title">Lanephase</h2>

      <p>
        Your goal in lane is to abuse Klepto as much as possible. If you throw a basic attack and
        activate your E (or if you are far enough away, Q and W work as well) the basic attack that is
        mid-air will still apply kleptomancy. Use this to your advanatge and pay attention to always use up both stacks
        before using another spell (unless you want to deal the maximum amount of damage of course).
        Don't neglect farming minions and always keep your vision up to avoid falling prey to ganks.
        Your constant harass will cause the wave to push and expose you to more jungle attention
        than you'd like.
      </p>
    </div>
    <div class="gameplay-section" id="teamfights">
      <h2 class="gameplay-heading title">Teamfights</h2>

      <p>
        Your primary objective in teamfights is to engage from a flanking position or to counterenagage when the enenmy
        team is going in. You can act both as a diver into the enemy backline (especially true with flash) or peel for your
        own carries with the cc you provide. The later the game goes and the more ap you amass the more devastating your are to
        squishy enemy carries. 
      </p>
    </div>
</div>
