<div class="runes-display" id="display-conqueror">
  <div class="runes-left">
      <img class="runepage-pic" src="img/runepages/conqueror.png" alt="">
  </div>
  <div class="runes-right">
    <h1 class="runes-heading title">Conqueror</h1>
    <p class="runes-desc">
      This keystone now gives ad-per-hit again, like the old fervor of battle and true damage at max stacks. If you are up against a tank and will be splitpushing this rune is
      basically a must-have as it will make your life so much easier.
    </p>
  </div>
</div>