<div class="runes-display" id="display-electrocute">
  <div class="runes-left">
      <img class="runepage-pic" src="img/runepages/electrocute.png" alt="">
  </div>
  <div class="runes-right">
    <h1 class="runes-heading title">Electrocute</h1>
    <p class="runes-desc">
      If you are looking for this little bit of extra burst you're lacking, Electrocute is there for you. Although it offers
      none of the utility of Phase Rush or the gold-advantage of Kleptomancy - if you want to make sure to kill someone in one combo,
      this is your rune of choice.
    </p>
  </div>
</div>