<div class="runes-display" id="display-fleet">
  <div class="runes-left">
      <img class="runepage-pic" src="../../img/runepages/fleet.PNG" alt="">
  </div>
  <div class="runes-right">
    <h1 class="runes-heading title">Fleet Footwork</h1>
    <p class="runes-desc">
      Fleet works well together with an Energized-Crit-Build which means you should mostly take this when playing ADC Kennen Botlane into hard lanes which
      require you to have more sustain. The movement speed in combination with the ehancements from RFC/Stormrazor makes this very worthwhile unless the other two
      Keystones offer sth unqiue that fits your gameplan better.
    </p>
  </div>
</div>