<div class="runes-display" id="display-klepto">
    <div class="runes-left">
        <img class="runepage-pic" src="img/runepages/klepto.png" alt="">
    </div>
    <div class="runes-right">
      <h1 class="runes-heading title">Kleptomancy</h1>
      <p class="runes-desc">
        Kleptomancy is your go-to rune against all tanks and generally most melees with a few exceptions, namely Darius and Irelia.
        The way you use this in the early laningphase is by autoattacking the enemy laner and then activation your Lightning Rush while the AA is mid-flight.
        This will cause said autoattack to proc kleptomancy without any risk to you. Don't neglect farming over abusing it, but try
        to get as many items and as much gold as possible early. The elixirs are especially powerful early on.


      </p>
    </div>
</div>