<div class="runes-display" id="display-phaserush">
  <div class="runes-left">
      <img class="runepage-pic" src="img/runepages/phaserush.png" alt="">
  </div>
  <div class="runes-right">
    <h1 class="runes-heading title">Phase Rush</h1>
    <p class="runes-desc">
      Phase Rush grants you increased movement speed and slow resistence after hitting three seperate attacks or spells. You should use this rune no matter the lane-matchup
      if the enemy composition has a lot of and / or particularly strong slows that will harm your teamfight-potential, e.g. Thresh or Cassiopeia.
      It is a good default option in general and will save your life many times over while getting ganked or trying to get out of a teamfight after you flashed in.

    </p>
  </div>
</div>