<div class="runes-display" id="display-pta">
  <div class="runes-left">
      <img class="runepage-pic" src="../../img/runepages/pta.png" alt="">
  </div>
  <div class="runes-right">
    <h1 class="runes-heading title">Press the attack</h1>
    <p class="runes-desc">
      When playing AD and the trades will be extended, PTA can give you the edge. If you get three autoattacks off chances are high one of them
      was w-empowered which means your w activation will also get increased damage. Later on in the game while splitpushing the increased
      damage will be helpful to deal with more durable opponents by boosting either your crits or your %-health-shred.
    </p>
  </div>
</div>